<!DOCTYPE html>
<html lang="pt_br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <base href="/">

        <title>Natu | Skincare consciente</title>
        <base href="/">
        <link rel="stylesheet"  type="text/css" href="/public/styles/landing-page.css">
        <link rel="stylesheet" type="text/css" href="/public/styles/responsive.css">
        <link rel="stylesheet" type="text/css" href="/public/styles/main.css">
        <link rel="stylesheet" type="text/css" href="/public/styles/partials.css">

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Ubuntu&display=swap" rel="stylesheet">

    </head>

    <body id="page-landing">
    <div id="container">
        <header>
            <nav>
                <div class="top-bar-container">

                    <img src="/public/assets/menu.svg" alt="menu" class="menu">
                    <div id="menu-products" class="hide">
                        
                        <nav> 
                            <ul>
                                <li><a href="#">Casa e família</a></li>
                                <li><a href="#">Cremes</a></li>
                                <li><a href="#">Higiene bucal</a></li>
                                <li><a href="#">Linha Capilar</a></li>
                                <li><a href="#">Máscaras de argila</a></li>
                                <li><a href="#">Óleos</a></li>
                                <li><a href="#">Pets</a></li>
                                <li><a href="#">Sabonetes</a></li>
                            </ul>
                        </nav>
                        <button>
                            <img src="/public/assets/x-mark.svg" alt="fechar">
                        </button>
                    </div>

                    <div class="links">
                        <a href="/src/views/registration.html">
                            <span></span>
                            Novo aqui?
                        </a>
                        <a href="#">
                            <span></span>
                            Onde estamos
                        </a>
                    </div>
    
                    <img src="/public/assets/ecology.svg" alt="logo natu" class="logo">
    
                    <div class="user-area">
                        <img 
                        src="/public/assets/shopping-bag.svg" 
                        alt="sacola" 
                        class="bag" 
                        role="button"
                        >
                        <img 
                        src="/public/assets/user.svg" 
                        alt="usuário" 
                        id="user-icon" 
                        onclick="redirect(accountAccess)" 
                        role="button"
                        >
                    </div>
    
                </div>
            </nav>
        </header>

        <main>
            <div class="cover">
                <div class="slide">
                    <img src="/public/img/handbars.jpg" alt="" class="pic">
                    <img src="/public/img/cover.jpg" alt="" class="pic">
                    <img src="/public/img/cover2.jpg" alt="" class="pic">
                    <img src="/public/img/zerowaste.jpg" alt="" class="pic">
                </div>
    
                <div class="intro">
                    <h2>Prazer, somos a Natu!</h2>
                    <br>
                    <p> Feita de ingredientes naturais certificados.
                        <br><br>
                        Fómulas livres de parabenos,
                        petrolatos, sulfatos, tricolosan e
                        fragrâncias sintéticas. 
                        <br><br>
                        Sólida, prática, concentrada e zero-plástico.
                        <br><br>
                        Só coisa boa!
                    </p>
                </div>
            </div>

            <div class="top-product-area">
                <div class="description">
                    <h2>Os queridinhos dos clientes</h2>
                    <br>
                    <p>Nossos produtos mais vendidos,<br>
                    com os melhores feedbacks.</p>
                    <button>Quero todos!</button>
                </div>

                <div class="best-sellers">
                    <div class="item">
                        <img src="/public/img/shampoo.svg" alt="shampoo sólido fresh">
                        <h4>Shampoo Sólido Fresh</h4>
                        <p>R$ 30</p>
                    </div>

                    <div class="item">
                        <img src="/public/img/escova.svg" alt="escova de bambu">
                        <h4>Escova de bambu</h4>
                        <p>R$ 18</p>
                    </div>

                    <div class="item">
                        <img src="/public/img/kit-solido.svg" alt="kit sólido Pitaya">
                        <h4>Kit Sólido Pitaya</h4>
                        <p>R$ 55</p>
                    </div>
                </div>
            </div>

            <div class="social">
                <p>Quer saber mais sobre nossos produtos, receber <br>
                    lançamentos e aprender mais sobre como nossas <br>
                    escolhas importam? </p>
                <button>
                    <span>
                        <img src="/public/assets/instagram-logo.svg" alt="logo do instagram">
                    </span> 
                    <span> Insta da @Natu</span>
                </button>
            </div>
        </main>

        <footer>
            <div class="newsletter">
                <span>
                    <img src="/public/assets/ecology-royal.svg" alt="logo da Natu">
                    <p>Sem spam, só amor! Vem cá...</p>
                    <input type="email" placeholder="Email">
                </span>
            </div>

            <div class="institutional">
                <div class="company-info">
                    <a href="">
                        <h5>Vem fazer parte da Natu</h5>
                    </a>
                    <a href="">
                        <h5>Nossa história</h5>
                    </a>
                    <a href="">
                        <h5>Conta</h5>
                    </a>
                </div>

                <div class="address">
                    <h5>Casa da Natu, su casa</h5>
                    <p>P. Sherman, 42 <br>
                        Wallaby Way <br>
                        Sidney 
                        <br><br>
                        Segunda a Sexta: 9h - 18h <br>
                        Sábado 9h - 12h
                    </p>
                </div>

                <div class="contact-us">
                    <h5>Me dá um olá, <br>
                    me manda um oi...</h5>
                    <p>(+55)9555 - 0139 <br>
                        oi@natu.com</p>
                </div>

            </div>
            
        </footer>
        
    </div>

    <script src="/public/scripts/menu.js"></script>
    <script src="/public/scripts/pages.js"></script>
    </body>
</html>

