<!DOCTYPE html>
<html lang="pt_br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <base href="/">

        <title>Natu | Kit Sólidos Oceane</title>
        <base href="/">
        <link rel="stylesheet" type="text/css" href="/public/styles/responsive.css">
        <link rel="stylesheet" type="text/css" href="/public/styles/main.css">
        <link rel="stylesheet" type="text/css" href="/public/styles/account.css">
        <link rel="stylesheet" type="text/css" href="/public/styles/partials.css">
        <link rel="stylesheet" type="text/css" href="/public/styles/products.css">

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Ubuntu&display=swap" rel="stylesheet">

    </head>

    <body>
        <div id="container">
            <header>
                <nav>
                    <div class="general-top-bar">
    
                        <img src="/public/assets/menu.svg" alt="menu" class="menu">
                        <div id="menu-products" class="hide">
                            
                            <nav> 
                                <ul>
                                    <li><a href="#">Casa e família</a></li>
                                    <li><a href="#">Cremes</a></li>
                                    <li><a href="#">Higiene bucal</a></li>
                                    <li><a href="/src/views/products-page.html">Linha Capilar</a></li>
                                    <li><a href="#">Máscaras de argila</a></li>
                                    <li><a href="#">Óleos</a></li>
                                    <li><a href="#">Pets</a></li>
                                    <li><a href="#">Sabonetes</a></li>
                                </ul>
                            </nav>
                            <button>
                                <img src="/public/assets/x-mark.svg" alt="fechar">
                            </button>
                        </div>

                        <img src="/public/assets/ecology.svg" alt="logo natu" class="general-logo">
    
                        <div class="general-user-area">
                            <div class="added">
                            <span id="itemCounter"></span>
                            <img id="fullBag" src="/public/assets/shopping-bag.svg" class="hide" alt="">
                            </div> 
                            <img 
                            src="/public/assets/bag.svg" 
                            alt="sacola" 
                            id="emptyBag" 
                            role="button"
                            onclick =""
                            > 

                            <img 
                            src="/public/assets/user.svg"
                            alt="usuário" 
                            id="user-icon" 
                            role="button"
                            onclick="redirect(accountAccess)" 
                            >
                        </div>
                    </div>
                </nav>
            </header>

            <main>
                <a class="home" href="/src/views/landing-page.html">
                    <img src="/public/assets/left-arrow.svg" alt="voltar">
                    <span> Voltar</span>
                </a>

                <div class="cart">
                    <div class="cart-content">
                        <div class="cart-header">
                            <h1>CARRINHO</h1>
                            <img src="/public/assets/x-mark-coral.svg" alt="fechar">
                        </div>
                        <div class="cart-details">
                            <div class="cart-items">
                                <img class="img-item" src="/public/img/duobar.svg" alt="kit de barras capilares Oceane">
                                <h4 id="kitOceaneName">Kit Sólidos Oceane</h4>
                                <p class="subtitle-cart">Shampoo e condicionador hidratante</p>
                                <p id="kitOceanePrice" class="price-cart">R$ 55</p>
                                <input type="number" name="" id="">
                                <img class="remove-item" role="button" src="/public/assets/trash-bin.svg" alt="remover do carrinho">
                            </div>
                                
                            <h1>Total: </h1>
                        </div>
                        <div class="checkout">
                            <label for="cep">Frete</label>
                            <input type="text" name="cep" id="zipCode" placeholder="Seu CEP aqui">
                            <button class="base-button shipping">Calcular</button>
                            <button type="submit" class="submit-cart">Finalizar compra</button>
                        </div>
                    </div>
                </div>

                <div class="product-info">
                    <img class="product-view" src="/public/img/duobar.svg" alt="kit de barras capilares sólidas Oceane">
                    <div class="product-presentation">
                        <h1 id="kitOceaneName">Kit Sólidos Oceane</h1>
                        <p class="subtitle">Shampoo e condicionador hidratante</p>
                        <p id="kitOceanePrice" class="price">R$ 55</p>
                        <div class="shop">
                            <button id="kitOceane" class="base-button" onclick="addToCart(this)">Comprar</button>
                            <input type="number" name="quantidade" id="">
                        </div>
                    </div>
                </div>

                <div class="details">
                    <div class="tabs">
                        <div id="componentTab">
                            <button class="btn component active" id="component">O que tem nele?</button><button class="btn use-tips" id="useTips">Dicas de uso</button>
                            
                                <div id="componentContent" class="info ">
                                    <p>Manteiga de Cupuaçu</p>
                                    <li>Reestrutura, condiciona e nutre os fios</li> 
                                    <li>Reduz o frizz</li>
                                    <li>Modela os fios</li>
                                    <br>
                                    <p>Manteiga de Karite</p>
                                    <li>Protege contra o ressecamento</li>
                                    <li>Faz a selagem do fio, impedindo a perda de hidratação</li> 
                                    <li>Controla o frizz</li>
                                    <br>
                                    <p>Argila azul e Aloe Vera</p>
                                    <li>Fortalece os fios</li>
                                    <li>Reduz a quebra</li>
                                    <li>Contribui com a regeneração do couro cabeludo</li>
                                </div>

                                <div id="useTipsContent" class="info hide">
                                    <li>
                                        Deixe sob uma base vazada ou esponja vegetal e na área <br>
                                        com menos úmidade do box para o máximo de durabilidade.
                                    </li>
                                    <br>
                                    <li>
                                        Para render ainda mais, corte o produto em dois ou mais <br>
                                        pedaços e guarde o que não for usar em local seco e arejado.
                                    </li>
                                </div>
                        </div>
                        
                    </div>
                </div>
 
            </main>

            <footer>
                <div class="newsletter">
                    <span>
                        <img src="/public/assets/ecology-royal.svg" alt="logo da Natu">
                        <p>Sem spam, só amor! Vem cá...</p>
                        <input type="email" placeholder="Email">
                    </span>
                </div>
    
                <div class="institutional">
                    <div class="company-info">
                        <a href="">
                            <h5>Vem fazer parte da Natu</h5>
                        </a>
                        <a href="">
                            <h5>Nossa história</h5>
                        </a>
                        <a href="">
                            <h5>Conta</h5>
                        </a>
                    </div>
    
                    <div class="address">
                        <h5>Casa da Natu, su casa</h5>
                        <p>P. Sherman, 42 <br>
                            Wallaby Way <br>
                            Sidney 
                            <br><br>
                            Segunda a Sexta: 9h - 18h <br>
                            Sábado 9h - 12h
                        </p>
                    </div>
    
                    <div class="contact-us">
                        <h5>Me dá um olá, <br>
                        me manda um oi...</h5>
                        <p>(+55)9555 - 0139 <br>
                            oi@natu.com</p>
                    </div>
    
                </div>
                
            </footer>
            
        </div>
    
        <script src="/public/scripts/cart.js"></script>
        <script src="/public/scripts/menu.js"></script>
        <script src="/public/scripts/pages.js"></script>
        </div>
    </body>
</html>
    
