.input-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 3rem;
    padding-top: 2rem;
}

.input-header h1 {
    color: var(--coral-light);
    justify-content: space-around;
    font-size: 3rem;
    text-align: center;
}

.input-header p {
    text-align: center;
    color: var(--blue);
    opacity: 0.6;
    line-height: 1.5rem;
    font-size: 1.2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    width: 70vw;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 4rem;
}

label {
    color: var(--blue);
    opacity: 0.4;
    padding-left: 2rem;
    font-size: 1.1rem;
}

input {
    outline: none;
    border: none;
    border-radius: 2rem;
    background: var(--royal-light);
    height: 3rem;
    padding: 1rem 2rem;
    font-size: 1rem;
}

fieldset {
    border: none;
    width: 30vw;
}

.client-input {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem; 
    line-height: 2rem;
}

.password-input {
    display: flex;
    justify-content: space-evenly;
    line-height: 2rem;
}

#client-access .client-input input{
    margin-bottom: 1rem;
}

::placeholder {
    color: var(--blue);
    opacity: 0.5;
    font-family: 'Josefin Sans', sans-serif;
}

.create-account,
.access-account {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.password-recovery {
    margin-left: 1rem;
    margin-top: -1rem;

}

.password-recovery a {
    color: var(--coral-light);
    font-size: 0.8rem;
}

.redirect {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    color: var(--blue);
    opacity: 0.8;
    margin-top: -1rem;
}

.redirect a {
    color: var(--deep-blue);
}

 a:hover {
    font-weight: bold;
    transition: 200ms ease-in;
}

