.product-header {
    display: flex;
    flex-direction: column;
    background: url(/public/img/zerowaste2.png);
    background-size: cover;
    height: 45vh;
    text-align: center;
}

.product-header h1 {
    color: var(--coral);
    font-size: 4rem;
    align-self: center;
    margin-top: 10vh;
}

.product-header p {
    align-self: center;
    font-size: 1.5rem;
    color: var(--blue);
    margin-top: 3vh;
}

.products {
    display: grid;
    align-items: center;
    grid-template-columns:repeat(auto-fill, minmax(20rem, 1fr));
    gap: 1rem;
    row-gap: 8rem;
    margin: 10vh 10vw;  
}

.products li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border-radius: 1.4rem;

}

.products a:hover {
    background: linear-gradient(var(--coral-light) 0%, var(--royal-light) 50%, var(--snow) 100%);
    transition: ease 800ms;
    padding: 1rem;
    border-radius: 1.2rem;
}

.products img {
    height: 30vh;
}

.products h3 {
    color: var(--blue);
    margin-top: 1vh;
}

.products p {
    color: var(--blue);
    font-size: 1.2rem;
    line-height: 3rem;
    margin-bottom: 2vh;
}

.products button {
    width: 10rem;
    height: 2.5rem;
}

.product-info {
    overflow: visible;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 8vh;
    flex-wrap: wrap;
}

.product-view {
    height: 25rem;
    align-self: center;
    -webkit-box-shadow: 0px 0px 10px -2px var(--blue); 
    box-shadow: 0px 0px 10px -2px var(--blue);
    border-radius: 1.5rem;
    
}

.product-presentation {
    align-self: center;
}

.product-presentation h1 {
    color: var(--deep-blue);
    margin-top: 5vh;
    font-size: 3rem;
}

.subtitle {
    margin-top: 2vh;
    color: var(--coral-light);
    font-size: 1.4rem;
}

.price {
    color: var(--royal);
    font-family: Ubuntu, sans-serif;
    font-size: 3rem;
    margin-top: 5vh;
}

.shop {
    margin-top: 8vh;
    display: flex;
    align-items: flex-start;
    gap: 6rem;
    flex-wrap: wrap;

}
.shop button {
    width: 12vw;
    height: 8vh;
}
.shop button img {
    height: 1.8rem;
}

.amount {
    display: flex;
    border: 0.2px solid var(--coral);
    border-radius: 2rem;
    justify-content: center;
    width: 8vw;
}

.amount input {
    width:  6vw;
    height: 8vh;
    margin-right: -1.5rem;
    margin-left: -1.5rem;
    background-color: var(--snow);
    text-align: center;
    font-size: 1.8rem;
    color: var(--blue);
}

.amount button {
    border: none;
    background: none;
    font-size: 1.5rem;
    width: 1.5rem;
    color: var(--blue);
}

.amount button:hover {
    color: var(--coral-light);
  }

.subtract {
    z-index: 2;
}

.details {
    display: flex;
    flex-direction: column;
    padding-left: 50vw;
    padding-top: 10vh;
}

.tabs {
    display: flex;
    justify-content: center;
    width: 40vw;
}

.tabs button{
    background: var(--coral-light) ;
    border: solid 0.5px var(--snow);
    width: 18vw;
    height: 6vh;
    font-family: Ubuntu, sans-serif;
    font-size: 1.2rem;
    color: var(--snow);
}

.tabs button:hover {
    background: var(--coral-light);
}

.active {
    background: var(--coral) !important;
}

.component {
    border-radius: 1rem 0 0 0;
}

.use-tips {
    border-radius: 0 1rem 0 0;
}

.info {
    
    margin-top: 5vh;
    color: var(--deep-blue);
    line-height: 1.2rem;
}

 p {
    font-weight: 800;
    font-size: 1rem;
    padding-bottom: 1vh;
}




